<template>
  <div id="patient-medical-files">
    <div id="files">
      <ol class="list-group">
        <li class="file list-group-item" v-for="file in files">
          <span>{{ file.name }}</span>
          <div class="actions">
            <span class="glyphicon glyphicon-download-alt" @click="downloadClick($event, file.name)"></span>
            <span class="glyphicon glyphicon-remove" @click="deleteClick($event, file.name)"></span>
          </div>
        </li>
      </ol>
    </div>
    <div id="upload" class="row">
      <div class="col-sm-12">
        <div v-if="!showUpload">
          <a href="#" @click.prevent="uploadForm">Upload new file</a>
        </div>
        <form v-else>
          <input type="file" id="uploader" />
          <button type="submit" class="" @click.prevent="startUpload">Upload</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import accountStore from '@/store/account'
import _ from 'lodash'

export default {
  name: 'patient-medical-files',
  props: [ 'patientId', 'patientUsername' ],
  data () {
    return {
      files: [],
      showUpload: false
    }
  },
  watch: {
    patientId: function () {
      this.findAllUserMedFiles()
    }
  },
  mounted () {
    this.findAllUserMedFiles()
  },
  methods: {
    findAllUserMedFiles () {
      var targetContainer = '' + this.patientId + this.patientUsername
      this.getFiles(targetContainer)
      .then(res => {
        this.files = res.body
      }, res => {
        console.log('error')
      })
    },
    uploadForm () {
      this.showUpload = true
    },
    startUpload () {
      var targetContainer = this.patientId + this.patientUsername
      // find out if user container exists
      this.getContainers()
      .then(res => {
        var containers = res.body
        var matchingContainer = _.find(containers, c => c.name === targetContainer)

        if (!matchingContainer) {
          console.log('create new container')
          // create container and upload file
          this.createContainer(targetContainer)
          .then(res => this.upload(targetContainer))
          .then(
            res => {
              console.log(res.body)
              window.document.getElementById('uploader').value = ''
              this.showUpload = false
              this.findAllUserMedFiles()
            },
            res => { console.log('error') }
          )
        } else {
          console.log('upload to existing container')
          // upload file
          this.upload(targetContainer)
          .then(
            res => {
              console.log(res.body)
              window.document.getElementById('uploader').value = ''
              this.showUpload = false
              this.findAllUserMedFiles()
            },
            res => { console.log('error') }
          )
        }
      }, res => {
        console.log('error')
      })
    },
    downloadClick (e, filename) {
      var targetContainer = this.patientId + this.patientUsername
      this.downloadFile(targetContainer, filename)
      .then(res => {
        console.log(res.body)
        var uriContent = 'data:application/octet-stream,' + encodeURIComponent(res.body)
        window.open(uriContent, filename)
      })
    },
    deleteClick (e, filename) {
      var targetContainer = this.patientId + this.patientUsername
      this.deleteFile(targetContainer, filename)
      .then(res => {
        this.findAllUserMedFiles()
      })
    },
    getFiles (container) {
      return this.$http.get(
        process.env.API_URL + '/api/medicalfiles/' + container + '/files',
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
    },
    getContainers () {
      return this.$http.get(
        process.env.API_URL + '/api/medicalfiles',
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
    },
    createContainer (container) {
      let body = { name: container }
      return this.$http.post(
        process.env.API_URL + '/api/medicalfiles',
        body,
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
    },
    upload (container) {
      let file = window.document.getElementById('uploader').files[0]
      var formData = new FormData()
      formData.append('file', file)

      return this.$http.post(
        process.env.API_URL + '/api/medicalfiles/' + container + '/upload',
        formData,
        {
          params: {
            access_token: accountStore.state.access_token
          },
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      )
    },
    downloadFile (container, filename) {
      return this.$http.get(
        process.env.API_URL + '/api/medicalfiles/' + container + '/download/' + filename,
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
    },
    deleteFile (container, filename) {
      return this.$http.delete(
        process.env.API_URL + '/api/medicalfiles/' + container + '/files/' + filename,
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
#uploader {
  margin-bottom: 10px;
}
.actions {
  display: inline-block;
  margin-left: 20px;
  float: right;

  .glyphicon {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  .glyphicon-remove {
    color: red;
  }
  .glyphicon-download-alt {
    color: green;
  }
}
</style>
