<template>
  <div class="p-item row">
    <div class="col-md-2">
      <div class="name">Name</div>
    </div>
    <div class="col-md-10">
      <div class="demog">34, Male</div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'patient-card'
}
</script>

<style lang="scss" scoped>
.p-item {
  margin-bottom: 5px;
  clear: both;
  overflow: auto;

  .photo {
    float: left;
    margin-right: 15px;
  }
  .name {
    font-size: 1.1em;
  }
  .demog {
    color: #6e6e6e;
  }
}
</style>
