<template>
  <div class="container">
    <div id="edit-appt" class="row">
      <div class="col-sm-12">
        <h1>Edit Appointment</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="date" :value="parsedUtcDate" />
            </div>
          </div>
          <div class="form-group">
            <label for="patient" class="col-sm-2 control-label">Patient</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="patient" :value="appt.patient.lastname + ', ' + appt.patient.firstname" />
            </div>
          </div>
          <div class="form-group">
            <label for="doctor" class="col-sm-2 control-label">Doctor</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="doctor" :value="appt.doctor.lastname + ', ' + appt.doctor.firstname" />
            </div>
          </div>
          <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="subject" :value="appt.subject" />
            </div>
          </div>
          <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
              <select class="form-control" id="status" v-model="appt.status" >
                <option disabled value="">Please select one</option>
                <option disabled value="Pending Patient">Pending Patient</option>
                <option disabled value="Pending Doctor">Pending Doctor</option>
                <option :disabled="disableAcceptStatus" value="Accepted">Accept</option>
                <option value="Cancelled">Cancel</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <div v-if="errors.has('message')">
                <span class="label label-danger">Error</span> <span class="error">Please enter a reason for cancelling</span>
              </div>
              <textarea v-validate="{ rules: {required: cancelSelected }}" class="form-control" :class="{'error-border': errors.has('message')}" id="message" name="message" v-model="appt.message" placeholder="Note to patient, Reason for cancelling" :readonly="userRole === 'Patient'" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" @click.prevent="saveChanges">Save</button>
              <span id="saveStatus">{{ saveStatus }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import accountStore from '@/store/account'
import moment from 'moment'

export default {
  name: 'edit-appointment',
  data () {
    return {
      appt: {
        patient: {},
        doctor: {}
      },
      saveStatus: '',
      userRole: accountStore.state.role
    }
  },
  computed: {
    cancelSelected () {
      return this.appt.status === 'Cancelled'
    },
    parsedUtcDate () {
      let date = this.appt.date
      if (date && date !== '') {
        return moment.utc(date, ['YYYY-MM-DDTHH:mm:ss.SSSZ']).local().format('YYYY-MM-DD h:mm a')
      }
      return ''
    },
    disableAcceptStatus () {
      let disableForDoctor = this.userRole === 'Doctor' && this.appt.status === 'Pending Patient'
      let disableForPatient = this.userRole === 'Patient' && this.appt.status === 'Pending Doctor'
      return disableForDoctor || disableForPatient
    }
  },
  mounted () {
    this.$http.get(
      process.env.API_URL + '/api/appointments/' + this.$route.params.id + '?filter[include]=doctor&filter[include]=patient',
      {
        params: {
          access_token: accountStore.state.access_token
        }
      }
    )
    .then(res => {
      this.appt = res.body
    }, res => {
      if (res.status === 401) {
        this.$router.push('/')
      }
    })
  },
  methods: {
    saveChanges (e) {
      this.$validator.validateAll().then(() => {
        this.saveStatus = 'Saving'
        this.$http.patch(
          process.env.API_URL + '/api/appointments/' + this.$route.params.id,
          {
            params: {
              access_token: accountStore.state.access_token
            },
            'status': this.appt.status,
            'message': this.appt.message
          }
        )
        .then(res => {
          this.saveStatus = 'Saved ' + moment().format('h:mm:ss a')
        }, res => {
          console.log('error')
          this.saveStatus = 'Error'
        })
      }).catch(() => {
          // error handled by vue template and v-validate
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#saveStatus {
  color: #9e9e9e;
}
.error {
  color: red;
}
.error-border {
  border: 1px solid red;
}
</style>
