<template>
  <nav>
    <div class="container">
      <div class="row">
        <div id="logo" class="col-sm-4">
          Doctors-Patients
        </div>
        <div class="col-sm-8">
          <div id="user" v-if="computedRole">
            <span v-if="computedRole === 'Doctor'">Dr.</span> <span>{{ uname }}</span>
            <span><a href="#" id="logout" @click.prevent="logout">Logout</a></span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import accountStore from '@/store/account'
export default {
  name: 'navbar',
  props: [ 'role' ],
  data () {
    return {
      user: {},
      uname: ''
    }
  },
  computed: {
    computedRole () {
      return accountStore.state.role
    }
  },
  created () {
    accountStore.watch(accountStore.getters.getUserId, () => {
      this.getUser(accountStore.state.role, accountStore.state.userId)
    })
  },
  mounted () {
    if (accountStore.state.role) {
      this.getUser(accountStore.state.role, accountStore.state.userId)
    }
  },
  methods: {
    getUser (model, userId) {
      let modelUser = model + 's'
      this.$http.get(
        process.env.API_URL + '/api/' + modelUser + '/' + userId,
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      )
      .then(res => {
        let u = res.body
        this.uname = u.firstname + ' ' + u.lastname
      }, res => {
        this.uname = ''
      })
    },
    logout () {
      this.$router.push({ name: 'SignOut' })
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
#user {
  float: right;
}
#logout {
  display: inline-block;
  margin-left: 20px;
}
</style>
