<template>
  <div class="container">
    <div class="col-sm-12">
      <h1>Page Not Found</h1>
      <p>Sorry, the page you're trying to access does not exist or you are unauthorized to view</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'not-found'
}
</script>

<style lang="scss" scoped>
</style>
