<template>
  <div class="container">
    <div id="patient-bio" class="row">
      <div class="col-sm-12">
        <h1>Patient</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="lastname" v-model="patient.lastname" />
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="firstname" v-model="patient.firstname" />
            </div>
          </div>
          <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="age" v-model="patient.age" />
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly="true" class="form-control" id="email" v-model="patient.email" />
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <textarea type="" readonly="true" class="form-control" id="address" v-model="combinedAddress" />
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="" readonly="true" class="form-control" id="phone" v-model="patient.phone" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="patient-files" class="row">
      <div class="col-sm-12">
        <h2>Files</h2>
        <patient-medical-files :patientId="patient.id" :patientUsername="patient.username"></patient-medical-files>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>Appointments</h2>
        <div id="actions">
          <button class="btn btn-default" @click="scheduleNew">+ Schedule New</button>
        </div>
      </div>
    </div>
    <div id="patient-appts" class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-hover" v-if="appts.length > 0">
          <thead>
            <tr>
              <th>Date</th>
              <th>Subject</th>
              <th>Doctor</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="appt in appts">
              <td>{{ parsedUtcDate(appt.date) }}</td>
              <td>{{ appt.subject }}</td>
              <td>{{ appt.doctor.lastname + ', ' + appt.doctor.firstname }}</td>
              <td class="status" :class="appt.status">{{ appt.status }}</td>
              <td>
                <button class="btn btn-default" @click="editAppointment($event, appt.id)" >Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-else>
          <p>No appointments</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import accountStore from '@/store/account'
import PatientMedicalFiles from '@/components/_PatientMedicalFiles'
import moment from 'moment'

export default {
  name: 'patient-detail',
  components: {
    PatientMedicalFiles
  },
  data () {
    return {
      patient: {},
      appts: []
    }
  },
  computed: {
    combinedAddress () {
      return (this.patient.mailingAddress + '\n' +
        this.patient.mailingCity + '\n' +
        this.patient.mailingState + '\n' +
        this.patient.mailingZip
      )
    }
  },
  mounted () {
    this.$http.get(
      process.env.API_URL + '/api/patients/' + this.$route.params.id,
      { params: {access_token: accountStore.state.access_token} }
    )
    .then(res => {
      this.patient = res.body
    }, res => {
      console.log(res.body.error.message)
      if (res.status === 401) {
        this.$router.push('/')
      }
    })

    // get patient appointments
    this.$http.get(
      process.env.API_URL + '/api/patients/' + this.$route.params.id + '/appointments',
      {
        params: {
          access_token: accountStore.state.access_token,
          'filter[include]': 'doctor'
        }
      }
    )
    .then(res => {
      this.appts = res.body
    }, res => {
      console.log('error')
    })
  },
  methods: {
    editAppointment (e, apptId) {
      this.$router.push({ name: 'EditAppointment', params: { id: apptId } })
    },
    scheduleNew () {
      this.$router.push({
        name: 'ScheduleAppointment',
        params: {
          patientId: this.patient.id,
          doctorId: accountStore.state.role === 'Doctor' ? accountStore.state.userId : 'none',
          requester: accountStore.state.role
        }
      })
    },
    parsedUtcDate (date) {
      // remove Z at end of utc datetime
      let fdate = date.substr(0, date.length - 2)
      return moment(fdate).format('YYYY-MM-DD h:mm a')
    },
    isFutureAppt (appt) {
      return moment.utc().isBefore(appt.date)
    }
  }
}
</script>

<style lang="scss" scoped>
#patient-bio {
  textarea {
    height: 100px;
  }
}
#actions {
  float: right;
}
.status {
  &.Cancelled {
    color: red;
  }
  &.Accepted {
    color: green;
  }
}
</style>
