<template>
  <div class="container">
    <h1>Patients</h1>
    <div id="patient-search" class="row">
      <div class="col-md-12">
        <form class="input-group">
          <input id="p-search-box" class="form-control" type="text" v-model="searchTerm" placeholder="Search by last name" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" @click.prevent="search">Search</button>
          </span>
        </form>
      </div>
    </div>
    <table id="patient-list" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>   
        <tr v-for="patient in patients" @click="selectPatient($event, patient)">
          <td>{{ patient.lastname + ', ' + patient.firstname }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import accountStore from '@/store/account'

export default {
  name: 'Patients',
  params: [ 'access_token' ],
  data () {
    return {
      patients: null,
      searchTerm: ''
    }
  },
  mounted () {
    this.$http.get(process.env.API_URL + '/api/patients', {
      params: {
        access_token: accountStore.state.access_token
      }
    })
    .then(response => {
      this.patients = response.body
    }, response => {
      if (response.status === 401) {
        this.$router.push('/')
      }
    })
  },
  computed: {
  },
  methods: {
    selectPatient (e, patient) {
      this.$router.push({ name: 'PatientDetail', params: { id: patient.id } })
    },
    search () {
      console.log(this.searchTerm)
      let re = new RegExp(this.searchTerm + '.*', 'gi')
      console.log(re)
      this.$http.get(
        process.env.API_URL + '/api/patients/', {
          params: {
            access_token: accountStore.state.access_token,
            'filter[where][lastname][regexp]': re.toString()
          }
        }
      ).then(res => {
        console.log(res.body)
        this.patients = res.body
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/css/shared';

.p-item {
  &:hover {
    .name {
      font-weight: bold;
    }
  }
}
</style>
