<template>
  <div class="container">
    <div class="col-sm-12">
      <h1>Schedule New Appointment</h1>
    </div>
    <div id="schedule-appt" class="row">
      <div class="col-sm-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="patient" class="col-sm-2 control-label">Patient</label>
            <div class="col-sm-10">
              <input type="text" :readonly="true" class="form-control" id="patient" :value="patient.lastname + ', ' + patient.firstname" />
            </div>
          </div>
          <div class="form-group">
            <label for="doctor" class="col-sm-2 control-label">Doctor</label>
            <div class="col-sm-10">
              <div v-if="errors.has('doctor')">
                <span class="label label-danger">Error</span> <span class="error">Required</span>
              </div>
              <select v-if="!doctorRequest" class="form-control" :class="{'error-border':errors.has('doctor')}" v-validate="'required'" name="doctor" v-model="selectedDoctor">
                <option disabled value="">Please select one</option>
                <option v-for="doc in doctors" :value="doc.id">{{ doc.lastname + ', ' + doc.firstname }}</option>
              </select>
              <input v-else type="text" :readonly="true" class="form-control" id="doctor" :value="doctor.lastname + ', ' + doctor.firstname"  />
            </div>
          </div>
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <div v-if="errors.has('date')">
                <span class="label label-danger">Error</span> <span class="error">Required</span>
              </div>
              <div class="input-group">
                <span class="input-group-addon" @click="openDatePicker"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input type="text" :readonly="true" class="form-control" :class="{'error-border': errors.has('date')}" id="date" name="date" v-validate="'required'" v-model="selectedDate" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="time" class="col-sm-2 control-label">Time</label>
            <div class="col-sm-10">
              <div v-if="errors.has('time')">
                <span class="label label-danger">Error</span> <span class="error">Required</span>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                <select type="text" :readonly="true" class="form-control" :class="{'error-border': errors.has('time')}" id="time" name="time" v-validate="'required'" v-model="selectedTime">
                  <option disabled value="">Please select one</option>
                  <option>8:00 am</option>
                  <option>8:30 am</option>
                  <option>9:00 am</option>
                  <option>9:30 am</option>
                  <option>10:00 am</option>
                  <option>10:30 am</option>
                  <option>11:00 am</option>
                  <option>11:30 am</option>
                  <option>12:00 pm</option>
                  <option>12:30 pm</option>
                  <option>1:00 pm</option>
                  <option>1:30 pm</option>
                  <option>2:00 pm</option>
                  <option>2:30 pm</option>
                  <option>3:00 pm</option>
                  <option>3:30 pm</option>
                  <option>4:00 pm</option>
                  <option>4:30 pm</option>
                  <option>5:00 pm</option>
                  <option>5:30 pm</option>
                  <option>6:00 pm</option>
                  <option>6:30 pm</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <div v-if="errors.has('subject')">
                <span class="label label-danger">Error</span> <span class="error">Required</span>
              </div>
              <input type="text" :readonly="false" class="form-control" :class="{'error-border': errors.has('subject')}" id="subject" name="subject" v-validate="'required'" v-model="subject" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" @click.prevent="submit">Submit Request</button>
              <span id="saveStatus">{{ saveStatus }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import accountStore from '@/store/account'
import moment from 'moment'
// import _ from 'lodash'
var $ = window.$

export default {
  name: 'schedule-appointment',
  components: {
    // DatePicker
  },
  data () {
    return {
      patient: {},
      doctor: {},   // for doctors request
      doctors: {},  // for patients request
      selectedDoctor: '', // for patients request
      selectedDate: '',
      selectedTime: '8:00 am',
      subject: '',
      saveStatus: '',
      requester: this.$route.params.requester
    }
  },
  computed: {
    formattedDateTime () {
      let date = moment(this.selectedDate, ['MM/DD/YYYY']).format()
      let time = moment(this.selectedTime, ['h:mm a']).format('HH:mm:ss')
      let timeParts = time.split(':')
      let combined = moment(date).set({ 'hour': timeParts[0], 'minute': timeParts[1], 'second': timeParts[2] })
      return combined.utc().format()
    },
    doctorRequest () {
      return this.requester === 'Doctor'
    }
  },
  mounted () {
    // datepicker
    $('#date').datepicker({
      onSelect: (dateText) => {
        this.selectedDate = dateText
      }
    })

    // get doctor and patient
    if (this.$route.params.patientId) {
      this.getUser('patient', this.$route.params.patientId)
    }
    if (this.$route.params.doctorId !== 'none') {
      this.getUser('doctor', this.$route.params.doctorId)
    } else {
      this.getDoctors()
    }
  },
  methods: {
    openDatePicker () {
      $('#date').datepicker('show')
    },
    getUser (role, id) {
      let apiModel = role === 'doctor' ? 'doctors' : 'patients'

      this.$http.get(
        process.env.API_URL + '/api/' + apiModel + '/' + id,
        {
          params: {
            access_token: accountStore.state.access_token
          }
        }
      ).then(res => {
        this[role] = res.body
      }, res => {
        if (res.status === 401) {
          this.$router.push('/')
        }
      })
    },
    getDoctors () {
      this.$http.get(
        process.env.API_URL + '/api/doctors',
        {
          params: {
            access_token: accountStore.state.access_token,
            'filter[order]': 'lastname'
          }
        }
      ).then(res => {
        this.doctors = res.body
      }, res => {
        console.log('error', res.body.error.message)
      })
    },
    submit () {
      this.$validator.validateAll().then(() => {
        this.$http.post(
          process.env.API_URL + '/api/appointments/',
          {
            params: {
              access_token: accountStore.state.access_token
            },
            'date': this.formattedDateTime,
            'subject': this.subject,
            'doctorId': this.doctorRequest ? this.doctor.id : this.selectedDoctor,
            'patientId': this.patient.id,
            'status': this.doctorRequest ? 'Pending Patient' : 'Pending Doctor'
          }
        )
        .then(res => {
          this.saveStatus = 'Requested ' + moment().format('h:mm:ss a')
        }, res => {
          console.log('error')
          this.saveStatus = 'Error'
        })
      }).catch(() => {
          // error handled by vue template and v-validate
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#saveStatus {
  color: #9e9e9e;
}

#date,
#time {
  background-color: white;
}
.error {
  color: red;
}
.error-border {
  border: 1px solid red;
}
</style>
