<template>
  <div>Sign Out</div>
</template>

<script>
import store from '@/store/account'
export default {
  name: 'signout',
  mounted () {
    this.logoutUser()
  },
  methods: {
    logoutUser () {
      let userModel = store.state.role + 's'
      if (!store.state.access_token) {
        this.clearStateAndGoLogin()
      }

      this.$http.post(
        process.env.API_URL + '/api/' + userModel + '/logout',
        null,
        {
          params: {
            access_token: store.state.access_token
          }
        }
      )
      .then(res => {
        this.clearStateAndGoLogin()
      }, res => {
        console.log(res.body.error.message)
        this.clearStateAndGoLogin()
      })
    },
    clearStateAndGoLogin () {
      store.commit('CLEAR_STATE')
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
