<template>
  <div class="container">
    <div id="signin-component" class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div id="error-message" class="bg-danger" v-show="badLogin">Failed Login</div>
        <form>
          <div class="field-group row">
            <div class="col-sm-4">
              <label for="username" class="">Username:</label>
            </div>
            <div class="col-sm-8">
              <input id="username" class="" type="text" v-model="username"/>
            </div>
          </div>
          <div class="field-group row">
            <div class="col-sm-4">
              <label for="password" class="">Password:</label>
            </div>
            <div class="col-sm-8">
              <input id="password" class="" type="password" v-model="password" />
            </div>
          </div>
          <div class="field-group submit row">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" @click.prevent="submit">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import accountStore from '@/store/account'

export default {
  name: 'signin',
  data () {
    return {
      username: '',
      password: '',
      badLogin: false
    }
  },
  created () {
    // accountStore.commit('CLEAR_STATE')
  },
  methods: {
    storeToken (token) {
      accountStore.commit('SET_TOKEN', token)
    },
    submit () {
      this.$http.post(process.env.API_URL + '/api/doctors/login', {
        'username': this.username,
        'password': this.password
      })
      .then(res => {
        this.badLogin = false
        this.storeToken(res.body.id)
        accountStore.commit('SET_ROLE', { role: 'Doctor', userId: res.body.userId })

        this.$router.push({ name: 'Patients' })
      }, res => {
        // try patient login
        this.$http.post(process.env.API_URL + '/api/patients/login', {
          'username': this.username,
          'password': this.password
        })
        .then(res => {
          this.badLogin = false
          this.storeToken(res.body.id)
          accountStore.commit('SET_ROLE', { role: 'Patient', userId: res.body.userId })
          this.$router.push({ name: 'PatientDetail', params: { id: res.body.userId } })
        }, res => {
          this.badLogin = true
        })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../assets/css/shared';

  #signin-component {
    margin: 30px 0;
  }
  .field-group {
    margin-bottom: 10px;
  }
  .submit {
    button {
      margin: 0 auto;
    }
  }
  #error-message {
    padding: 5px;
    margin-bottom: 20px;
  }
</style>
