<template>
  <div id="app">
    <nav-bar :role="role"></nav-bar>
    <router-view></router-view>
  </div>
</template>

<script>
import accountStore from '@/store/account'
import NavBar from '@/components/NavBar'
export default {
  name: 'app',
  components: {
    NavBar
  },
  data () {
    return {
      role: accountStore.state.role
    }
  }
}
</script>

<style>

</style>
